<%= content_for :title do %>
	Genres
<% end %>

<%= content_for :options do %>
	<%= link_to 'New Genre', new_genre_path %>
<% end %>

<form action="" method="GET" role="search" onsubmit="return q.value != ''">
	<input id="searchbar" type="text" name="q" placeholder="Search..." <% if defined? @search %>value="<%= @search %>"<% end %> />
	<button title="Search" id="searchbtn" type="submit" class="ui-button-icon-only"><span style="display: inline-block" class="ui-icon ui-icon-search"></span></button>
</form>

<% @genres.each do |genre| %>
	<article class="genre">
		<a href="<%= url_for genre %>"><h2><%= genre.name %></h2></a>
		<%= link_to 'Edit', edit_genre_path(genre), :class => "btn-edit ui-icon ui-icon-pencil", :title => 'Edit' %>
		<%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-delete ui-icon ui-icon-closethick", :title => 'Delete' %>
	</article>
<% end %>