<%= form_for(@actor) do |actor_form| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation" class="ui-widget ui-state-error ui-corner-all" style="padding: 0 .7em;">
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;">&nbsp;</span>
      <strong><%= pluralize(@actor.errors.count, "error") %> prohibited this actor from being saved:</strong>

      <ul>
      <% @actor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= actor_form.label :firstname, 'First Name:' %>
  	<%= actor_form.text_field :firstname %>
  </div>
  <div class="field">
  	<%= actor_form.label :lastname, 'Last Name:' %>
  	<%= actor_form.text_field :lastname %>
  </div>
  
  <div class="actions">
    <%= actor_form.submit %>
  </div>
<% end %>
