<%= form_for(@actor) do |actor_form| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% @actor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= actor_form.label :firstname, 'First Name:' %>
  	<%= actor_form.text_field :firstname %>
  </div>
  <div class="field">
  	<%= actor_form.label :lastname, 'Last Name:' %>
  	<%= actor_form.text_field :lastname %>
  </div>
  
  <div class="actions">
    <%= actor_form.submit %>
  </div>
<% end %>
