<% form.fields_for :actors do |actor_form| %>
  <div class="field">
  	<%= actor_form.label :firstname, 'First Name:' %>
  	<%= actor_form.text_field :firstname %>
  </div>
  <div class="field">
  	<%= actor_form.label :lastname, 'Last Name:' %>
  	<%= actor_form.text_field :firstname %>
  </div>
  <% unless actor_form.object.nil? || actor_form.object.new_record? %>
    <div class="field">
    	<%= actor_form.label :_destroy, 'Remove:' %>
    	<%= actor_form.check_box :_destroy %>
    </div>
  <% end %>
<% end %>
