<%= content_for :title do %>
	Actors
<% end %>

<%= content_for :options do %>
	<%= link_to 'New Actor', new_actor_path %>
<% end %>

<form action="" method="GET" role="search" onsubmit="return q.value != ''">
	<input id="searchbar" type="text" name="q" placeholder="Search..." <% if defined? @search %>value="<%= @search %>"<% end %> />
	<button title="Search" id="searchbtn" type="submit" class="ui-button-icon-only"><span style="display: inline-block" class="ui-icon ui-icon-search"></span></button>
</form>
<% @actors.each do |actor| %>
		<article class="person">
			<a href="<%= url_for actor %>"><h2><%= actor.name %></h2></a>
			<%= link_to 'Edit', edit_actor_path(actor), :class => "btn-edit ui-icon ui-icon-pencil", :title => 'Edit' %>
			<%= link_to 'Destroy', actor, method: :delete, data: { confirm: "Do you want to permanently delete the actor #{actor.name}?" }, :class => "btn-delete ui-icon ui-icon-closethick", :title => 'Delete' %>
		</article>
<% end %>
