<%= content_for :title do %>
	<%= @actor.name %>
<% end %>

<%= content_for :options do %>
	<%= link_to 'Edit', edit_actor_path(@actor) %>
	<%= link_to 'Delete', @actor, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Back', actors_path %>
<% end %>

<p id="notice"><%= notice %></p>

<article class="person">
	<h2><%= @actor.name %></h2>
	
	<ul>
	<% @actor.movies.each do |movie| %>
		<li><%= link_to movie.title, movie %></li>
	<% end %>
	</ul>
</article>
