<%= content_for :title do %>
	<%= @actor.name %>
<% end %>

<%= content_for :options do %>
	<%= link_to 'Edit', edit_actor_path(@actor) %>
	<%= link_to 'Delete', @actor, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Back', actors_path %>
<% end %>

<p id="notice"><%= notice %></p>

<article class="person">
	<h2><%= @actor.name %></h2>
	
    <% @actor.movies.sort! { |a,b| a.title.downcase <=> b.title.downcase } %>
	<% @actor.movies.each do |movie| %>
		<article class="<%= movie.dvd == 1 ? "dvd" : "video" %>">
			<a href="<%= url_for movie %>"><h2><%= movie.display_name %> <%= movie.yearstring %></h2></a>
			<%= link_to 'Edit', edit_movie_path(movie), :class => "btn-edit ui-icon ui-icon-pencil", :title => 'Edit' %>
			<%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-delete ui-icon ui-icon-closethick", :title => 'Delete' %>
			<% if movie.lastWatched %>
				<p>Last Watched: <span class="lastwatched"><%= movie.lastWatched %></span></p>
			<% end %>
			<p>Duration: <span class="lastwatched"><%= movie.duration %><% if movie.duration %> minutes<% end %></span></p>
			<div>
			<% movie.genres.each do |genre| %>
				<%= link_to genre.name, genre, :class => "genre" %>
			<% end %>
			</div>
		</article>
	<% end %>
</article>
