<% @movie.actors.build %>
<% @movie.genres.build %>
<div class="imdb">
	<button type="button" id="fetch-imdb-data">Fetch data for</button>
	<div id="accordion"></div>
</div>
<%= form_for(@movie) do |movie_form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation" class="ui-widget ui-state-error ui-corner-all" style="padding: 0 .7em;">
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;">&nbsp;</span>
      <strong><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</strong>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= movie_form.label :title %><br />
    <%= movie_form.text_field :title %>
  </div>
  <div class="field">
    <%= movie_form.label :year %><br />
    <%= movie_form.number_field :year %>
  </div>
  <div class="field">
    <%= movie_form.label :duration %><br />
    <%= movie_form.number_field :duration %>
  </div>
  <div class="field">
    <%= movie_form.label :dvd %><br />
    <%= movie_form.check_box :dvd %>
  </div>
  <div class="field">
    <%= movie_form.label :referenceNumber, "Reference Number" %><br />
    <%= movie_form.text_field :referenceNumber %>
  </div>
  <h2>Actors</h2>
  <div class="field">
  	<%= movie_form.label :actors %>
  	<input class="actor-picker" size="30" type="text" />
  	<select name="movie[actors][]" id="movie_actors" style="display: none" multiple="multiple">
  		<% @movie.actors.each do |a| %>
  			<% if a.id %>
  				<option class="actor" selected="true" value="<%= a.id %>"><%= "%s %s" % [a.firstname, a.lastname] %></option>
  			<% end %>
  		<% end %>
  	</select>
  	<button type="button" id="create-new-actor" style="display: none"></button>
  	<ul id="actor-list">
  		<% @movie.actors.each do |a| %>
  			<% if a.id %>
  				<li data-id="<%= a.id %>"><%= "%s %s" % [a.firstname, a.lastname] %><p class="delete-actor"></p></li>
  			<% end %>
  		<% end %>
  	</ul>
  </div>
  <h2>Genre</h2>
  <div class="field">
  	<%= movie_form.label :genres %>
  	<input class="genre-picker" size="30" type="text" />
  	<select name="movie[genres][]" id="movie_genres" style="display: none" multiple="multiple">
  		<% @movie.genres.each do |g| %>
  			<% if g.id %>
  				<option class="genre" selected="true" value="<%= g.id %>"><%= g.name %></option>
  			<% end %>
  		<% end %>
  	</select>
  	<button type="button" id="create-new-genre" style="display: none"></button>
  	<ul id="genre-list">
  		<% @movie.genres.each do |g| %>
  			<% if g.id %>
  				<li data-id="<%= g.id %>"><%= g.name %><p class="delete-genre"></p></li>
  			<% end %>
  		<% end %>
  	</ul>
  </div>
  <h2>Directors</h2>
  <div class="field">
  	<%= movie_form.label :directors %>
  	<input class="director-picker" size="30" type="text" />
  	<select name="movie[directors][]" id="movie_directors" style="display: none" multiple="multiple">
  		<% @movie.directors.each do |a| %>
  			<% if a.id %>
  				<option class="director" selected="true" value="<%= a.id %>"><%= "%s %s" % [a.firstname, a.lastname] %></option>
  			<% end %>
  		<% end %>
  	</select>
  	<button type="button" id="create-new-director" style="display: none"></button>
  	<ul id="director-list">
  		<% @movie.directors.each do |a| %>
  			<% if a.id %>
  				<li data-id="<%= a.id %>"><%= "%s %s" % [a.firstname, a.lastname] %><p class="delete-director"></p></li>
  			<% end %>
  		<% end %>
  	</ul>
  </div>
  
  <div class="actions">
    <%= movie_form.submit %>
  </div>
<% end %>
