
<%= content_for :title do %>
	Listing movies
<% end %>

<% content_for :options do %>
	<%= link_to "Date Viewed", "?sort=date" %>
	<%= link_to "Alphabetical", "?sort=alphabetical" %>
	<%= link_to "Video/DVD", "?sort=type" %>
	<%= link_to 'New Movie', new_movie_path %>
<% end %>

<% @movies.each do |movie| %>
	<article class="<%= movie.dvd == 1 ? "dvd" : "video" %>">
		<a href="<%= url_for movie %>"><h2><%= movie.title %></h2></a>
		<%= link_to 'Edit', edit_movie_path(movie), :class => "btn-edit ui-icon ui-icon-pencil", :title => 'Edit' %>
		<%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-delete ui-icon ui-icon-closethick", :title => 'Delete' %>
		<% if movie.lastWatched %>
			<p>Last Watched: <span class="lastwatched"><%= movie.lastWatched %></span></p>
		<% end %>
		<div>
		<% movie.actors.each do |actor| %>
			<%= link_to actor.name, actor %><% if actor != movie.actors.last %>, <% end %>
		<% end %>
		</div>
		<div>
		<% movie.genres.each do |genre| %>
			<%= link_to genre.name, genre, :class => "genre" %>
		<% end %>
		</div>
	</article>
<% end %>
