
<%= content_for :title do %>
	Movies
<% end %>

<% content_for :options do %>
	<%= link_to 'New Movie', new_movie_path %>
<% end %>

<% setupURL request.original_fullpath[/\?.+$/] %>
<form action="" method="GET" role="search">
	<input id="searchbar" type="text" name="q" placeholder="Search..." <% if defined? @search %>value="<%= @search %>"<% end %> />
	<button title="Search" id="searchbtn" type="submit" class="ui-button-icon-only"><span style="display: inline-block" class="ui-icon ui-icon-search"></span></button>
	<div class="ui-widget ui-helper-reset">
	<div id="new-filters" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-all ui-accordion-content-active" style="display: none">
		<div class="field">
			<%= label_tag 'Actor' %>
			<select id='actor' multiple="multiple" name="actor[]">
				<% @actors.each do |name| %>
					<option value="<%= name %>"<%= hasFilter("actor", name) ? "selected" : ""%>><%= name %></option>
				<% end %>
			</select>
		</div>
		<div class="field">
			<%= label_tag 'Genre' %>
			<select id='genre' name="genre">
				<% @genres.each do |name| %>
					<option value="<%= name %>"<%= filterValue("genre") == name ? "selected" : ""%>><%= name %></option>
				<% end %>
			</select>
		</div>
		<div class="field">
			<%= label_tag 'Duration' %>
			<%= select_tag 'duration', options_for_select([["",""],["Short (30-60 min)", "short"], ["Normal (60-90 min)", "normal"], ["Long (90-120 min)", "long"], ["Epic (120+ min)", "epic"]], filterValue('duration')) %>
		</div>
		<div class="field">
			<%= label_tag 'Year' %>
			<%= number_field_tag 'year', filterValue("year") %>
		</div>
		<div class="field">
			<%= label_tag 'DVD' %>
			<%= select_tag 'dvd', options_for_select([["",""], ["DVD", 1], ["Video", 0]], filterValue("dvd")) %>
		</div>
		<div class="field">
			<%= label_tag 'Sort' %>
			<%= select_tag 'sort', options_for_select([["Date Watched","date"],["Alphabetical", "alphabetical"], ["Video/DVD", "dvd"], ["Duration", "duration"], ["Year", "year"]], filterValue('sort') || 'alphabetical') %>
		</div>
		<p class="info" style="text-align: center;">Click search for changes to take effect</p>
	</div>
	<h3 id="filters-toggle" class="ui-accordion-icons ui-accordion-header ui-state-default ui-corner-all ui-helper-reset">
		<span class="ui-icon ui-icon-circle-plus">&nbsp;</span>
		<span>Filters</span>
	</h3>
	</div>
	<div class="sort-options">
		<p>Sort by: 
		<%= link_to "Date Viewed", addFilter('sort', 'date', true), :class => "sort" %>
		<%= link_to "Alphabetical", addFilter('sort', 'alphabetical', true), :class => "sort" %>
		<%= link_to "Video/DVD", addFilter('sort', 'dvd', true), :class => "sort" %>
		<%= link_to "Running Time", addFilter('sort', 'duration', true), :class => "sort" %>
		<%= link_to "Year", addFilter('sort', 'year', true), :class => "sort" %></p>
	</div>
</form>
<% @filters.each do |filter| %>
	<% if filter[:value].kind_of? Hash %>
		<% filter[:value].each do |i,subvalue| %>
			<div class="filter">
				<a href="<%= removeFilter filter[:name]+"[#{i}]", subvalue %>" class="ui-icon ui-icon-closethick">&nbsp;</a><p><%= filter[:name].capitalize %> = <%= subvalue %></p>
			</div>
		<% end %>
	<% else %>
		<div class="filter">
			<a href="<%= removeFilter filter[:name], filter[:value] %>" class="ui-icon ui-icon-closethick">&nbsp;</a><p><%= filter[:name].capitalize %> = <%= filter[:value] %></p>
		</div>
	<% end %>
<% end %>
<% @movies.each do |movie| %>
	<article class="<%= movie.dvd == 1 ? "dvd" : "video" %>">
		<a href="<%= url_for movie %>"><h2><%= movie.display_name %> <%= movie.yearstring %></h2></a>
		<%= link_to 'Edit', edit_movie_path(movie), :class => "btn-edit ui-icon ui-icon-pencil", :title => 'Edit' %>
		<%= link_to 'Delete', movie, method: :delete, data: { confirm: "Do you want to permanently delete the movie #{movie.display_name}?" }, :class => "btn-delete ui-icon ui-icon-closethick", :title => 'Delete' %>
		<% if movie.lastWatched %>
			<p>Last Watched: <span class="lastwatched"><%= movie.displayLastWatched %></span></p>
		<% end %>
		<p>Duration: <span><%= movie.duration %><% if movie.duration %> minutes<% end %></span></p>
		<div>
		<% movie.actors.each do |actor| %>
			<%= link_to actor.name, actor %><% if actor != movie.actors.last %>, <% end %>
		<% end %>
		</div>
		<div>
		<% movie.genres.each do |genre| %>
			<%= link_to genre.name, genre, :class => "genre" %>
		<% end %>
		</div>
	</article>
<% end %>
