<%= content_for :title do %>
	<%= @movie.title %>
<% end %>

<%= content_for :options do %>
	<%= link_to 'Back', back_url %>
	<%= link_to 'Edit', edit_movie_path(@movie) %>
	<%= link_to 'Delete', @movie, method: :delete, data: { confirm: "Do you want to permanently delete the movie #{@movie.display_name}?" } %>
<% end %>

<% if notice %>
	<p id="notice" class="ui-widget ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;">&nbsp;</span>
		<%= notice %>
	</p>
<% end %>

<article class="<%= @movie.dvd == 1 ? "dvd" : "video"%>">
	<h2><%= @movie.display_name %> <%= @movie.yearstring %></h2>
	<% if @movie.lastWatched %>
		<p>Last Watched: <span class="lastwatched"><%= @movie.displayLastWatched %></span></p>
	<% end %>
	<p>Times viewed: <span class="lastwatched"><%= @movie.times_viewed %></span></p>
	<p>Duration: <span class="lastwatched"><%= @movie.duration %><% if @movie.duration %> minutes<% end %></span></p>
	<ul>
	<% @movie.actors.each do |actor| %>
		<li><%= link_to actor.name, actor %></li>
	<% end %>
	</ul>
	<div>
	<% @movie.genres.each do |genre| %>
		<%= link_to genre.name, genre, :class => "genre" %>
	<% end %>
	</div>
	<div>
		<p>Views:</p>
		<ul>
			<% @movie.views.each do |view| %>
				<li><%= view.display %>
					<%= link_to 'Delete View', [view.movie, view], method: :delete, data: { confirm: 'Do you want to delete this viewing?' }, :class => "btn-delete ui-icon ui-icon-closethick", :title => 'Delete' %></li>
			<% end %>
		</ul>
	</div>
	<p>Add view:</p>
	<%= form_for([@movie, @movie.views.build]) do |f|%>
		<%= f.hidden_field :when %>
		<div>
		  <div>
		    <button id="view" type="button">Today</button>
		    <button id="select-view" type="button">Select a day</button>
		  </div>
		  <span id="datepicker"></span>
		</div>
	<% end %>
</article>
