<!DOCTYPE html>
<html>
<head>
  <title><%= controller_name.capitalize %> | Myers Movie Database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<hgroup>
	<a href="<%= root_path %>"><h1>Myers Movie Database</h1></a>
	<nav role="navigation">
		<%= link_to "Movies", movies_path %>
		<%= link_to "Actors", actors_path %>
		<%= link_to "Genres", genres_path %>
		<%= link_to "Views", views_path %>
	</nav>
</hgroup>

<section id="content">
	<h1><%= yield :title %></h1>
	<div class="optionsarea">
		<%= yield :options %>
	</div>
	<div class="mainarea">
	<%= yield %>
	</div>
</section>

</body>
</html>
